body {
    height: 100vw;
    width: 100vh;;
}
/*try back ground color of either light blue or yellow*/
.main-container {
}

.head-1 {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-top: 10%;
}
